@use "theme";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/top-app-bar";
@use "@material/icon-button";
@use "@material/image-list/mdc-image-list";
@use "@material/image-list";

@include icon-button.core-styles;

header{
  top: 0px;
  right: 0px;
  left: 0px;
  height: 15%;
}

.fit-to-parent{
  height: 100%;
}

.icon {
  @include icon-button.icon-size(32px);
}

.mdc-top-app-bar__row{
  justify-content: center;
  vertical-align: middle;
}

.my-image-list {
  @include image-list.standard-columns(5);
}
/**
body
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover


.pos
    align-content: left
    margin-left: 10px



div.gallery 
    margin: 5px
    border: 1px solid black
    float: left
    width: 180px
  
  
  div.gallery:hover 
    border: 1px solid #777
  
  
  div.gallery img 
    width: 180px
  height: 215px
  
  
  div.desc 
    padding: 15px
    text-align: center
  
  .zoom
    transform: scale(2)

  

  .divpos
    width:1600px
    height:700px
    position:absolute
    top:50%
    left:50%
    margin:-350px 0 0 -800px
    background: white
    opacity: 0.8
*/