* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select:none;
  }
  
  body {
    /*background-image: url("../img/img2.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font: 100%/1 'Lobster', cursive;
  }

.navbar {
    background-color: lightgreen;
}