@use 'theme';
@use "@material/button";
@use "@material/floating-label/mdc-floating-label";
@use "@material/floating-label";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/top-app-bar";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/mdc-select";
@use "@material/select";
@use "@material/touch-target/mdc-touch-target";
@use "@material/touch-target";

@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/tab";

@use "@material/card";
@use "@material/typography/mdc-typography";
@use "@material/typography";
@import "@material/layout-grid/mdc-layout-grid";


@include card.core-styles;
@include button.core-styles;
@include icon-button.core-styles;

header{
  top: 0px;
  right: 0px;
  left: 0px;
  height: 15%;
}

#ap{
  @include icon-button.icon-size(32px);
}

.icon{
 padding-left: 8px;
}

.my-card {
  height: 25vh;
  width: 12.5vw;
}

.fit{
  height: 100%;
  width: 100%;
}

.card-label{
  @extend .fit;
  //@include typography.baseline(50px, 50px, block);
}

a{
  
  color: #000000;
  text-decoration: none;
  cursor: auto;
  
  a:link:active, a:visited:active {
    color: #000000;
  }
}

.fit-to-parent{
  height: 100%;
}

.demo-width-class {
  width: 200px;
}

.nome{
  height: 100%;
  @include touch-target.margin(10px);
}

.scelta{
  margin-right: 10px;
}

#annuario{
  height: 80%;
}
/**  
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font: 100%/1 'Lobster', cursive;
}

.navbar {
  background-color: lightgreen;
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 250px;
  height: 35px;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
*/
