@use 'theme';
@use "@material/typography/mdc-typography";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/floating-label/mdc-floating-label";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/button";

@include button.core-styles;
@include textfield.core-styles;

.main {
  height: 97vh;
  width: 99vw;
}

.center-fit{ 
  background-image: url("../img/imglog.jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: fit-content;
}

.fit {
  height: 100%;
  width: 100%;
}

/**
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  user-select:none;
}

body {
  background-image: url("../img/img2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font: 100%/1 'Lobster', cursive;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10rem 0 0 -10rem;
  width: 20rem;
  height: 20rem;
  padding: 3em;
  background: hsla(255,255%,255%,1);
  border-radius: 25%;
  overflow: hidden;
  transition:all 1s ease;
  box-shadow: 20px 30px 20px #000000;
}
.login:hover > .header, .login.clicked > .header {
  width: 2rem;
}
.login:hover > .header > .text, .login.clicked > .header > .text {
  font-size: 1rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.login.loading > .header {
  width: 20rem;
  transition:all 1s ease;
}
.login.loading > .header > .text {
  display: none;
}
.login.loading > .header > .loader {
  display: block;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 20rem;
  height: 20rem;
  background: hsla(0, 5%, 0%, 1);
  transition: width 0.5s ease-in-out;
}
.header > .text {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  text-align: center;
  line-height: 20rem;
  color: rgb(60, 250, 53);
  transition: all 0.5s ease-in-out;
}
.header > .loader {
  display: none;
  position: absolute;
  left: 5rem;
  top: 5rem;
  width: 10rem;
  height: 10rem;
  border-left: 10px solid hsla(255, 255%, 255%, 1);
  border-bottom:10px solid hsla(255,255%,255%,1);
  border-right:10px solid hsla(255,255%,255%,1);
  border-top: 8px solid hsla(255,255%,255%,1);
  border-radius: 50%;
  box-shadow:inset 2px 2px 2px 2px hsla(0, 5%, 0%, 1);
  animation: loading 2s linear infinite;
}
.header > .loader:after {
  content: "";
  position: absolute;
  left: 4.15rem;
  top: -0.5rem;
  width: 1rem;
  height: 1rem;
  background: rgb(48, 211, 48);
  border-radius: 50%;
  border-right: 1px solid rgb(48, 211, 48);
  
}
.header > .loader:before {
  content: "";
  position: absolute;
  left: 3.4rem;
  top: -0.5rem;
  width: 0;
  height: 0;
  border-right: 1rem solid rgb(48, 211, 48);
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
}

@keyframes loading {
  50% {
  border-left: 10px solid rgb(19, 90, 1);
  border-bottom:10px solid rgb(19, 90, 1);
  border-right:10px solid rgb(19, 90, 1);
  border-top:8px solid rgb(19, 90, 1);
  }

  100% {
    transform: rotate(360deg);
  }
}
.form {
  margin: 0 0 0 2rem;
  padding: 0.5rem;
}

.input {
  display: block;
  width: 100%;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: none;
  border-color: hsla(0, 5%, 0%, 1);
  border-width: 0 0 3px 0;
  transition: all .5s ease-in;
  outline:transparent;
}
.input + .input {
  margin: 10px 0 0;
}
.input:focus {
  border-bottom: 3px solid rgb(72, 179, 1);
}

.btn {
  position: absolute;
  right: 125px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border: none;
  background: url(../img/book-reader-solid.svg);
  font-size: 0;
  border: none;
  transition: all 0.3s ease-in-out;
}
.btn:after {
  position: absolute;
  left: 1.4rem;
  top: 1rem;
  width: 0;
  height: 0;
  border-left: 1.6rem solid rgb(72, 179, 1);
  border-top: .8rem solid transparent;
  border-bottom: .8rem solid transparent;
  transition: border 0.3s ease-in-out 0s;
}
.btn:hover, .btn:focus, .btn:active {
  outline: none;
  
}
.btn:hover:after, .btn:focus:after, .btn:active:after {
  
}












/*

.pre_contenitore{
    width:320px;
  height:50px;
  margin:auto;
  position:absolute;
  top:50%;
  left:50%; 
  margin:-250px 0 0 -195px;
    border:1px solid black;
    border-radius: 40px 40px 0px 0px;
      background-color:rgba(0,0,0,0.9);
      box-shadow: 20px 30px 20px #000000;
      padding:20px;
}

.pre_contenitore p{
    color:white;
    text-align: center;
    font-size: 1.9em;
    font-family: arial;
  line-height:2px;

}


body{
  background-image: url("../Bg/659053.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

/*contenitore contenete il form *

.contenitore {
    border:1px solid black;
  margin:auto;
  position:absolute;
  top:50%;
  left:50%; 
  margin:-160px 0 0 -195px;
    width: 320px;
    height: 390px;
    border-radius: 0px 0px 40px 40px;
    padding:20px;
    background-color:rgba(0,0,0,0.8);
    box-shadow: 20px 20px 20px #000000;
    color:white;

}

.contenitore input{
  width: 100%;
  margin-bottom: 20px;
  border:none;
  border:1px solid black;
  height: 30px;

}
.contenitore input[type="text"], input[type="password"] /* i css si riferiscono solo alla barra ditesto *
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.contenitore p{
  
}
.contenitore input[type="submit"]{  /* i css si riferiscono solo al pulsante *
  border-radius: 14px;
  height: 40px;
}

.contenitore input[type="submit"]:hover {
  background: lightblue;
}*/