@use 'theme';
@use "@material/textfield";
@use "@material/form-field/mdc-form-field";
@use "@material/checkbox/mdc-checkbox";
@use "@material/floating-label/mdc-floating-label";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/typography/mdc-typography";
@use "@material/select";
@use "@material/button";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/layout-grid";
@use "@material/image-list/mdc-image-list";
@use "@material/image-list";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/mdc-select";

@include button.core-styles;
@include textfield.core-styles;

.main {
  height: 97vh;
  width: 99vw;
}

.fit {
  height: 100%;
  width: 100%;
}

.demo-width-class {
  width: 400px;
}

.my-image-list {
  @include image-list.standard-columns(1)
}

.centered-text{
  text-align: center;
}

.imgbox{
  display: grid;
  height: 100%;
}

.center-fit{ 
  background-image: url("../img/polaroid.jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: fit-content;
}

.text{
  padding: 10px;
  vertical-align: middle;
}
/**
  .sfondo { 
    background-image: url("../img/polaroid.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .pre_contenitore{
      width:320px;
    height:50px;
    margin:auto;
    position:absolute;
    top:50%;
    left:50%; 
    margin:-210px 0 0 -195px;
    border-bottom:none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
      border-radius: 40px 40px 0px 0px;
      background-color:white;
      box-shadow: 20px 30px 20px #000000;
      padding:20px;
  }

  .pre_contenitore p{
    color:green;
    text-align: center;
    font-size: 30px;
    font-family: arial;
    line-height:2px;
    font: 'Lobster', cursive;
  }

  //contenitore contenete il form 

  .contenitore {
      border-top:none;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
    margin:auto;
    position:absolute;
    top:50%;
    left:50%; 
    margin:-160px 0 0 -195px;
      width: 320px;
      height: 390px;
      border-radius: 0px 0px 40px 40px;
      padding:20px;
      background-color:white;
      box-shadow: 20px 20px 20px #000000;
      color:black;

  }
  /**
  .contenitore input{
    width: 100%;
    margin-bottom: 20px;
    border:none;
    border:1px solid black;
    height: 30px;

  }
  .contenitore input[type="text"], input[type="password"] // i css si riferiscono solo alla barra ditesto 
  {
    border: none;
    border-bottom: 3px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
  }

  .contenitore input:focus {
    border-bottom: 3px solid rgb(72, 179, 1);
  }

  .contenitore p{
    
  }
  .contenitore input[type="submit"]{  // i css si riferiscono solo al pulsante 
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 14px;
    height: 40px;
  }

  .contenitore input[type="submit"]:hover {
    background: lightgreen;
    border: 3px solid rgb(72, 179, 1);
  }

  /*.btn {
    position: absolute;
    right: 125px;
    bottom: 50px;
    /*margin:-160px 0 0 -195px;*
    width: 50px;
    height: 50px;
    border: none;
    background: url(../img/book-reader-solid.svg);
    font-size: 0;
    border: none;
    transition: all 0.3s ease-in-out;
  }
  .btn:after {
    position: absolute;
    left: 1.4rem;
    top: 1rem;
    width: 0;
    height: 0;
    border-left: 1.6rem solid rgb(72, 179, 1);
    border-top: .8rem solid transparent;
    border-bottom: .8rem solid transparent;
    transition: border 0.3s ease-in-out 0s;
  }
  .btn:hover, .btn:focus, .btn:active {
    outline: none;
    
  }

  .classe {
    border: 3px solid black;
    width: 280px;
  }

  .anno{
    border: 3px solid black;
    width: 158px;
  }

  .classe:focus , .anno:focus {
    border: 3px solid rgb(72, 179, 1);
  } */